<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ERROR</title>
</head>
<body>
<h2>Error</h2>
<div th:if="${message}">
  <h3 th:text="${message}"/>
</div>
<div th:if="${msg}">
  <h3 th:text="${msg}"/>
</div>
</body>
</html>
