<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Turnitin Billing File Conversion</title>
</head>
<body>
<h2>Turnitin Billing File Conversion</h2>
<hr/>
<h4>Upload Billing File:</h4>
<form enctype="multipart/form-data" method="POST" th:action="@{/upload}">
  <input name="file" type="file"/> <br/><br/>
  <button type="submit">Submit</button>
</form>
<hr/>
<div th:if="${message}">
  <h3 th:text="${message}"/>
</div>
</body>
</html>
